body{
    background-image: url('../img/george-bougakov-1401081-unsplash.jpg');
    background-repeat: no-repeat;
    background-size: cover
}

h1{
    margin: 10vh;
}

ul{
    margin:5vh;
}

.row{
    text-align: center
}

